@media (max-width:1100px){
    .navbar{
        display: none;
    }
    .leftbox{
        display: none;
    }
    .rightbox{
        margin-top: 6.5%;
        margin-left:25%;
    }
    .toggle-button{
        display: block;
    }
    .navbar.active{
        display: block;
    }
}
@media(max-width:900px){
    .signinbox{
        position: relative;
        right: 100px;
        top:50px
    }
}
@media(max-width:800px){
    .toggle-button{
        display: none;
    }
    .navbar.active{
        display: none;
    }
    .rightbox{
        display: none;
    }
    .logosmove{
        position:absolute;
        top:50%;
        left:50%;
        margin-top:-280px;
        margin-left:-129px;
    }
    .bgim{
        background-position: left;
    }
    .resp800{
        display: block;
        margin: 40% auto;
    }
    body{
        overflow-y: hidden;
        overflow-x: hidden;
    }
}
@media(max-height:600px){
    .signinbox{
        margin: auto;
    }
}
@media(max-width:400px){
    .button1{
        margin-left: 10%;
        max-width: 80%;
    }
    .resp800{
        margin: 60% auto;
    }
}
@media(max-width:350px){
    .signinbox{
        margin-left: 20%;
    }
    .lineflex p{
        font-size: 9px;
    }
}